<h1> Your Overdraft </h1>
<div id="<%= dom_id overdraft %>">
  <p>
    <strong>Limit:</strong>
    <%= overdraft.limit %>
  </p>

  <p>
    <strong>Is Overdraft available:</strong>
    <%= overdraft.available %>
  </p>

  <p>
    <strong>Used Amount:</strong>
    <%= overdraft.used_amount %>
  </p>
</div>