<h1>Welcome to ABC Banking</h1>

<% if Current.user %>
  <%= render "logged_in", account: @account, account_type: @account_type %>
  <% else %>
  <%= link_to "Sign up", sign_up_path %>
  <%= link_to "Sign In", sign_in_path %>
<% end %>